* {
  font-family: 'Inter', arial, sans-serif !important;
  color: var(--jb1-color) !important;
  background-color: var(--jb3-color);
}

:root {
    --jb1-color: #f4f4f4;
    --jb2-color: #8ec6c5;
    --jb3-color: #6983aa;
    --jb4-color: #8566aa;
  }

.a {
  color: var(--jb1-color);
  text-decoration: none;
}

.navButton a:hover {
  background: var(--jb2-color);
}

.aboutMeColors {
  background-color: var(--jb4-color);
}

.card,
.card-body,
.card-text,
.card-title {
  background-color: var(--jb4-color) !important;
}