* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', arial, sans-serif;
}

:root {
    --jb1-color: #f4f4f4;
    --jb2-color: #8ec6c5;
    --jb3-color: #6983aa;
    --jb4-color: #8566aa;
  }

a {
  color: var(--jb1-color);
  text-decoration: none;
}

body {
  background-color: black;
}

h2 {
  font-weight: 300;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

p {
  font-weight: lighter;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

header {
  padding: 20px 35px;
  background-color: var(--jb3-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/hero_odesza.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header nav {
  margin: 7px 0;
}

header h1 {
  font-weight: 300;
  margin: 0;
  font-size: 36px;
  color: var(--jb1-color);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.25vw;
  text-decoration: none;
  color: var(--jb1-color);
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header nav ul li a:hover {
  background: var(--jb1-color);
  color: var(--jb4-color);
  border-radius: 15px;
  text-shadow: none;
}


/* HERO SECTION - START */
.hero {
  height: 600px;
  width: 2000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-image: url("../images/hero_odesza.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}
/* HERO SECTION - END */

/* ABOUT ME SECTION - START */
.about-me {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 30px;
  background-color: var(--jb3-color);
  color: var(--jb1-color);
}
/* ABOUT ME SECTION - END */

/* WORK SECTION - START */
.work {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 30px;
  background-color: var(--jb4-color);
  color: var(--jb1-color);
  font-weight: 300;
}

.resume-grid-container {
  display: grid;
  /* width: 1000px; */
  grid-template: 1fr / 2fr 1fr;
  /* justify-items: flex-start; */
  grid-gap: 10px;
}

.resume-grid-container div {
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgba(142, 198, 197, 0.5);
}

.resume-grid-item-1 {
  grid-row-start: 1;
  grid-row-end: span 2;
  /* padding: 5px; */
  /* border-radius: 10px; */
  /* margin: 20px; */
  background-image: url("../images/run_buddy.jpg");
  background-position: bottom;
  background-size: cover;
  background-color: var(--jb3-color);
}



/* WORK SECTION - END */

/* FOOTER SECTION - START */
footer {
  background-color: var(--jb3-color);
  color: var(--jb1-color);
}

.contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;

}

footer .contact-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  font-weight: lighter;
  text-decoration: none;
}

footer .contact-details div {
  padding: 30px;
}

/* FOOTER SECTION - END */